<%= link_to(root_url, class: 'navbar-brand d-flex flex-column justify-content-center') do %>
  <%= image_tag("icons/weather_sun_sunny_temperature_icon.png", size: 44, alt: 'Logo', class: 'nav_bar_logo') %>
  <h5>WeatherBoi</h5>
<% end %>
